html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

#root {
    font-family: 'Jaldi', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
}

.form{
    width: 100%;
    max-width: 600px;
}

.form__fieldset {
    text-align: center;
    margin: 20px auto;
    padding: 50px 20px 0 20px;
    border: 2px solid #171411;
    border-radius: 10px;
    background-color: #adffff9e;
}