html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    max-width: 700px;
    margin: 0 auto;
    font-family: 'Jaldi', sans-serif;
    background-color: #ccc; 
    padding: 10px;
    border-radius: 30px;
    text-align: center;
}

.fieldset {
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgb(18 172 159);
}
